.off-canvas {
    position: absolute;
    width: 83%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #ffffff;
    z-index: 99;
    box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
    border-radius: 0 30px 30px 0;
    overflow: hidden;
    transition: transform .3s linear;
    z-index: 999;
    @import "profile-canvas";

    @media screen and (min-width:768px) and (min-height:1200px) {
        border-radius: 0 86px 86px 0;
    }
    &.end {
        left: auto;
        border-radius: 86px 0 0 86px;
        right: 0;
        transform: translateX(100%);
        .logoBg {
            left: 0;
            right: -80px;
        }
        .bottom {
            flex-direction: row-reverse;
            margin-left: auto;
        }
        .profileInfo {
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 0;
            overflow: hidden;
        }
    }

    &.active{
        transform: translateX(0);
    }
    .bottom{
        padding-top: 90px;
        width: 200px;
       @media screen and (min-width:768px) and (min-height:1200px) {
        width: 526px; 
        padding-top: 30px;
        }
       img{
        margin-left: -10px;
        margin-right: 5px;
        @media screen and (min-width:768px) and (min-height:1200px) {
            margin-left: -26px;
        margin-right: 22px;
        }
       }
        span{
            font-size: 15px;
            line-height: 13px;
            @media screen and (min-width:768px) and (min-height:1200px) {
                font-size: 41.72px;
                line-height: 20px;
            }
            &.hashtag{
                font-size: 27px;
                line-height: 28px;
                @media screen and (min-width:768px) and (min-height:1200px) {
                    font-size: 74.25px;
                }
            }
        }
        & > div{
            line-height: 13px;
            @media screen and (min-width:768px) and (min-height:1200px) {
                line-height: 20px;
            }
        }
    }
}
.logoBgBottom {
    position: absolute;
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
    bottom: 0;
    right: -465px;
    z-index: -1;
    opacity: 0.28;
}
.logoBg {
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    width: calc(100% + 80px);
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
}
