.off-canvas {
    position: absolute;
    width: 83%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 2px));
    background: #ffffff;
    z-index: 99;
    border-radius: 0 86px 86px 0;
    overflow: hidden;
    transition: transform 0.3s linear;
    z-index: 999;
    @import "profile-canvas";

    .searchWrapper {
        margin-bottom: 20px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            margin-bottom: 40px;
        }
    }
    &.end {
        left: auto;
        border-radius: 30px 0 0 30px;
        right: 0;
        transform: translateX(calc(100% + 2px));

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 86px 0 0 86px;
        }

        .logoBg {
            left: 0;
            right: -80px;
        }

        .bottom {
            flex-direction: row-reverse;
            margin-left: auto;
            text-align: right;
            padding-top: 10px;
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding-top: 0;
            }
            img {
                width: 40px;
                margin-left: 10px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    width: 105px;
                    margin-left: 30px;
                    margin-right: 7px;
                }
            }
            span {
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 41.32px;
                    line-height: 40px;
                }
                &.hashtag{
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 74px;
                        line-height: 57px;
                        padding-top: 29px;
                    }
                }
            }

            & > div {
                line-height: 18px;
            }
        }

        .profileInfo {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 0;
            overflow: hidden;
            padding-left: 35px;
            padding-bottom: 12px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                border-bottom-left-radius: 76px;
                padding-left: 93px;
                padding-bottom: 54px;
            }
        }
    }

    &.active {
        transform: translateX(0);
        box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
        -webkit-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
    }

    &.canvas-bottom {
        width: 100vw;
        max-width: 1080px;
        margin: 0 auto; 
        bottom: 0;
        top: auto;
        transform: translateY(calc(100% + 2px));
        // height: 80%;
        min-height: 80%;
        max-height: 90%;
        height: auto;
        border-radius: 45px 45px 0 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 155px 155px 0 0;
            // height: 86%;
        }
        .canvas-body {
            padding: 30px 22px;
            padding-bottom: 150px;
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 85px 100px;
                padding-bottom: 150px;
            }
            .canvas-head {
                .title {
                    font-size: 24px;
                    line-height: 30px;
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 70px;
                        line-height: 70px;
                    }
                }
            }
        }
        &.active {
            transform: translateY(0);
        }
        &.mid {
            &.active {
                transform: translateY(75px);
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    transform: translateY(180px);
                }
            }
        }
    }
    &#kayitolCanvas{
        height: 90%;
        .canvas-body{
            height: 100%;
            .formWrapper{
                height: 100%;
            }
        }
    }
}

.logoBgBottom {
    position: absolute;
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
    bottom: 0;
    right: -465px;
    z-index: -1;
    opacity: 0.28;
}

.logoBg {
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    width: calc(100% + 80px);
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
}

.canvas-body {
    padding: 20px 20px;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        padding: 40px 60px;
    }

    .canvas-head {
        padding-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding-bottom: 30px;
        }

        .title {
            font-family: "baloo_2bold";
            color: #194769;
            font-size: 24px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 78.32px;
            }
        }

        p {
            font-family: "baloo_2medium";
            color: #595959;
            font-size: 12px;
            line-height: 15px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}

#anaMenuCanvas {
    &.off-canvas {
        &.canvas-bottom {
            .canvas-body {
                padding: 30px 15px;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 115px 55px;
                }
                .searchWrapper {
                    padding-top: 14px;
                    margin-bottom: 14px;
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        padding-top: 53px;
                        margin-bottom: 60px;
                    }
                    .searchButton{
                        right: 12px;
                        margin-top: -4px;
                        width: 24px; 
                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            right: 57px;
                            margin-top: 0;
                            width: 53px;
                        }
                    }
                }
            }
        }
    }
}
#rotaCantamCanvas {
    &.off-canvas {
        &.canvas-bottom {
            .canvas-body {
                padding: 20px 20px;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 50px 45px;
                }
            }
        }
    }
}
#giris-yap {
    &.off-canvas {
        &.canvas-bottom {
            .canvas-body {
                padding: 50px 45px;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 120px 100px;
                }
            }
        }
    }
}
#sifremi-unuttum {
    overflow: visible;
    &.off-canvas {
        &.canvas-bottom {
            .canvas-body {
                padding: 57px 44px;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 145px 100px;
                }
            }
            .canvas-head {
                p {
                    font-size: 12px;
                    line-height: 14px;
                    padding: 0 10px;
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 31px;
                        line-height: 30px;
                        padding: 0 50px;
                    }
                }
            }
        }
    }
    .question-icon {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -30px;
        width: 55px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            width: 160px;
            top: -65px;
        }
    }
}
