.off-canvas {
    position: absolute;
    width: 83%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #ffffff;
    z-index: 99;
    border-radius: 0 86px 86px 0;
    overflow: hidden;
    transition: transform 0.3s linear;
    z-index: 999;
    @import "profile-canvas";
    
    .searchWrapper{
        margin-bottom: 40px;
    }
    &.end {
        left: auto;
        border-radius:30px 0 0 30px;
        right: 0;
        transform: translateX(100%);

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 86px 0 0 86px;
        }

        .logoBg {
            left: 0;
            right: -80px;
        }

        .bottom {
            flex-direction: row-reverse;
            margin-left: auto;
            text-align: right;
            padding-top: 10px;
            @media screen and (min-width:768px) and (min-height:1200px) {
                padding-top: 0;
            }
            img {
                width: 40px;
                margin-left: 10px;

                @media screen and (min-width:768px) and (min-height:1200px) {
                    width: 80px;
                    margin-left: 17px;
                    margin-right: 0;
                }
            }

            &>div {
                line-height: 18px;
            }
        }

        .profileInfo {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 0;
            overflow: hidden;
            padding-left: 35px;
            padding-bottom: 12px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding-left: 75px;
                padding-bottom: 30px;
                border-bottom-left-radius: 100px;
            }
        }
    }

    &.active {
        transform: translateX(0);
        box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
        -webkit-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0 -14px 70px 0 rgba(0, 0, 0, 0.27);
    }

    &.canvas-bottom {
        width: 100vw;
        height: 94%;
        bottom: 0;
        top: auto;
        transform: translateY(100%);
        border-radius: 60px 60px 0 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 86px 86px 0 0;
        }
        .canvas-body{ 
            padding: 30px 45px;
            padding-bottom: 150px;
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 40px 100px;
                padding-bottom: 150px;
            } 
            .canvas-head{
                .title{
                    font-size: 24px;
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 60px;
                    } 
                }
            }
        }
        &.active {
            transform: translateY(0);
        }

    }
}

.logoBgBottom {
    position: absolute;
    min-width: 100%;
    height: 40vh;
    object-fit: cover;
    bottom: 0;
    right: -465px;
    z-index: -1;
    opacity: 0.28;
}

.logoBg {
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    width: calc(100% + 80px);
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
}

.canvas-body {
    padding: 20px 20px;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        padding: 40px 60px;
    }

    .canvas-head {
        padding-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding-bottom: 30px;
        }

        .title {
            font-family: "baloo_2bold";
            color: #194769;
            font-size: 24px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 78.32px;
            }
        }

        p {
            font-family: "baloo_2medium";
            color: #595959;
            font-size: 12px;
            line-height: 15px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}
