.card {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    .imageWrapper {
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}
.imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cards {
    position: relative;
    .card {
        display: flex;
        align-items: center;
        border: none;
    }
    &.type1 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            margin: 0 -32px;
        }
        .card {
            width: 50%;
            padding: 8px 8px;
            position: relative;
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 29px 32px;
            }
            .imageWrapper {
                border-radius: 24px;
                will-change: transform;
                aspect-ratio: 4/4;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    border-radius: 42px;
                }
            }
            .image-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                background: rgb(255, 255, 255);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(2, 43, 73, 0.7) 100%);
                padding: 10px 10px 30px 10px;
                .name {
                    font-family: "baloo_2extrabold";
                    font-size: 14px;
                    line-height: 16px;
                    color: #ffffff;
                    text-align: center;
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 32.34px;
                        line-height: 32px;
                    }
                }
                .category {
                    font-family: "baloo_2medium";
                    text-align: center;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.42);
                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 25.53px;
                    }
                }
            }
        }
    }

    &.type2 {
        .card {
            flex-direction: row;
            justify-content: space-between;
            height: 135px;
            border: 2px solid #d3d3d3;
            border-radius: 6px;
            margin-bottom: 30px;
            .card-left {
                display: flex;
                align-items: center;
                padding-left: 30px;
            }
            .imageWrapper {
                width: 92px;
            }
            .card-text {
                padding-left: 30px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title {
                    font-family: "baloo_2extrabold";
                    font-size: 22.3px;
                    color: #0d3c5f;
                }
                p {
                    font-size: 18.16px;
                    color: #6e6e6e;
                    font-family: "baloo_2semibold";
                }
                .linkName {
                    font-family: "baloo_2regular";
                    font-size: 24.29px;
                    color: #0d3c5f;
                }
                .link {
                    font-family: "baloo_2extrabold";
                    font-size: 24.29px;
                    color: #0d3c5f;
                }
            }
            .card-buttons {
                display: flex;
                align-items: center;
                height: 100%;
                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 100%;
                    border-left: 2px solid #d3d3d3;
                    img {
                        max-width: 33px;
                    }
                }
            }
        }
    }
}
