form {
    padding: 10px 0;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        padding: 40px 0;
    }

    label {
        font-family: "baloo_2bold";
        color: #194769;
        font-size: 12px;
        text-align: center;
        display: block;
        padding-bottom: 5px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 35.5px;
            padding-bottom: 10px;
        }
    }

    input {
        color: rgb(25, 71, 105);
        font-family: "baloo_2medium";
        border: 2px solid #f4f7fe;
        background-color: #f4f7fe;
        text-align: center;
        border: none;
        outline: 0;
        box-shadow: none;
        width: 100%;
        border-radius: 16px;
        font-size: 12px;
        height: 45px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 30px;
            font-size: 33.9px;
            height: 135px;
        }

        &:focus {
            border: none;
            outline: 0;
            box-shadow: none;
        }

        &.border-line {
            padding: 10px 5px;
            border: 1px solid #c0c0c0;
            border-radius: 10px;
            background-color: transparent;
            height: 30px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                height: 90px;
            }
        }
    }

    .inputColumn {
        position: relative;
        padding-bottom: 5px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding-bottom: 20px;
        }

        .eyeButton {
            position: absolute;
            right: 15px;
            top: 35px;
            width: 20px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                right: 83px;
                top: 133px;
                width: 45px;
            }

            img {
                opacity: 0.28;
                width: 100%;
            }
        }

        .email-icon {
            position: absolute;
            left: 15px;
            top: 40px;
            width: 20px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                left: 50px;
                top: 120px;
                width: 50px;
            }

            img {
                opacity: 0.28;
                width: 100%;
            }
        }

        .note {
            text-align: center;
            display: flex;
            font-size: 10px;
            line-height: 15px;
            padding: 10px 20px 20px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 25px;
                line-height: 25px;
                padding: 30px 140px 50px;
            }
        }

        &:not(.show) {
            input[type="password"] {
                font-size: 40px;
                letter-spacing: 10.5px;
                color: rgba(25, 71, 105, 0.2);
                padding-right: 45px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 100px;
                    letter-spacing: 15.5px;
                    padding-right: 110px;
                }
            }
        }
    }

    .otherButton {
        font-family: "baloo_2bold";
        color: #194769;
        border: 2px solid #f4f7fe;
        background-color: #f4f7fe;
        padding: 0px 15px;
        font-size: 12px;
        border: none;
        outline: 0;
        box-shadow: none;
        width: 100%;
        border-radius: 16px;
        height: 45px;
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            border-radius: 30px;
            font-size: 33.9px;
            height: 135px;
            padding: 0 65px;
        }

        img {
            width: 20px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                width: 55px;
            }
        }

        span {
            padding-left: 30px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding-left: 90px;
            }
        }
    }

    .checkWrapper {
        padding: 30px 0 20px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 85px 40px 50px;
        }
    }

    .form-invalid-message {
        display: none;
        background-color: rgb(251, 85, 85, 0.29);
        color: rgb(234, 7, 7);
        border: 2px solid #ff004024;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            height: 135px;
        }

        img {
            width: 20px;
            min-width: 20px;
            margin-right: 10px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                width: 25px;
                min-width: 25px;
            }
        }

        span {
            font-size: 11px;
            line-height: 12px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 22px;
                line-height: 19px;
            }
        }
    }

    &.was-validated {
        .form-invalid-message {
            display: flex;
        }

        input {
            &.error {
                background-color: rgb(251, 85, 85, 0.29);
                color: red;
                border: 2px solid #ff004024;
            }
        }
    }

    .dropdownBtn,
    select {
        width: 100%;
        height: 175px;
        border-radius: 30px;
        margin-bottom: 30px;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
        background-image: url("../images/select-arrow.png");
        background-repeat: no-repeat;
        background-size: 8px 10px;
        background-position-x: calc(100% - 30px);
        background-position-y: 50%;
        padding-left: 30px;
        font-family: "baloo_2semibold";
        font-size: 15px;
        color: #181818;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 39.91px;
            padding-left: 68px;
            background-size: 20px 23px;
            background-position-x: calc(100% - 50px);
        }
    }

    .close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e13869;
        font-family: "baloo_2extrabold";
        font-size: 12px;
        color: #ffffff;
        border-radius: 10px;
        height: 45px;
        margin-top: 30px;
        width: 100%;
        cursor: pointer;

        &.roundedNone {
            border-radius: 0;
        }

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            height: 145px;
            border-radius: 45px;
            font-size: 40.96px;
            margin-top: 50px;
        }
    }

    &.type2 {
        padding: 35px 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 75px 0;
        }

        label {
            text-align: left;
        }

        input {
            text-align: start;
            padding: 0 50px;

            &.emailInput {
                padding-left: 45px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding-left: 115px;
                }
            }
        }

        .inputColumn {
            padding-bottom: 10px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding-bottom: 25px;
            }
        }

        .otherButton {
            background-color: transparent;
            border: 2px solid #cbcbcb;
            margin: 20px 0 30px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                margin: 55px 0 70px;
                padding: 0 45px;
            }
        }

        .login-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 20px 0;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 0 0 70px 0;
            }

            .checkWrapper {
                padding: 0;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 0 15px 0;
                }
            }

            .check-container {
                &.radio {
                    align-items: center;

                    .text {
                        font-family: "baloo_2extrabold";
                        color: #798086;
                        font-size: 12px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            font-size: 34.5px;
                        }
                    }

                    .checkmark {
                        height: 25px;
                        width: 25px;
                        min-width: 25px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            height: 65px;
                            width: 65px;
                            min-width: 65px;
                        }

                        &:after {
                            width: 3px;
                            height: 6px;
                            border-width: 0 2px 2px 0;

                            @media screen and (min-width: 768px) and (min-height: 1200px) {
                                left: 25px;
                                top: 15px;
                                width: 10px;
                                height: 20px;
                                border: solid white;
                                border-width: 0 5px 5px 0;
                            }
                        }
                    }
                }
            }

            a {
                font-family: "baloo_2extrabold";
                color: #194769;
                font-size: 12px;
                text-decoration: underline;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 34.5px;
                }
            }
        }

        .letsSignUp {
            text-align: center;
            padding: 12px 0;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 35px 0;
            }

            span {
                font-family: "baloo_2medium";
            }

            a {
                font-family: "baloo_2bold";
            }

            span,
            a {
                color: #194769;
                font-size: 12px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 32.5px;
                }
            }
        }
    }

    &#kayitolForm {
        padding: 20px 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 75px 25px;
        }
    }

    &#girisyapForm {
        padding: 35px 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 115px 25px;
        }

        .eyeButton {
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                right: 58px;
                top: 120px;
                width: 45px;
            }
        }
    }
}

.formWrapper {
    &.type2 {
        padding-top: 40px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding-top: 100px;
        }

        .inputColumn {
            padding-bottom: 15px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding-bottom: 30px;
            }
        }
    }
}

.searchWrapper {
    position: relative;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        padding-top: 21px;
    }

    input {
        font-family: "baloo_2medium";
        background-color: #f4f7fe;
        font-size: 12px;
        color: #7f7f7f;
        width: 100%;
        height: 50px;
        border: none;
        box-shadow: none;
        outline: 0;
        border-radius: 16px;
        padding-left: 16px;
        padding-right: 46px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 32.05px;
            height: 120px;
            padding-left: 45px;
            padding-right: 120px;
        }
    }

    .searchButton {
        position: absolute;
        top: 50%;
        width: 24px;
        margin-top: -12px;
        right: 16px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            right: 48px;
            margin-top: -20px;
            width: 50px;
        }

        img {
            width: 75%;
            filter: invert(1) opacity(0.26);

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                width: 100%;
            }
        }
    }
}
select {
    width: 100%;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("../images/select-arrow.png");
    background-repeat: no-repeat;
    background-size: 7px 11px;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    padding-left: 30px;
    @media screen and (min-width: 768px) and (min-height: 1200px) {
        background-position-x: calc(100% - 30px);
        background-size: 20px 23px;
    }
}
.fixBtn {
    background-color: #194769;
    font-family: "baloo_2bold";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    height: 45px;
    border-radius: 16px;
    cursor: pointer;

    &.pink {
        background-color: #e13869;
    }

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        font-size: 33.9px;
        height: 142px;
        border-radius: 30px;
    }
}

.fixBtn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(214, 214, 214, 0.29);
    padding: 10px;
    min-width: 45px;
    height: 25px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        min-width: 179px;
        height: 72px;
        border-radius: 20px;
        margin: 32px 0;
    }

    img {
        margin-right: 5px;
        opacity: 0.29;
        width: 10px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            width: 22px;
            margin-right: 20px;
        }
    }

    span {
        font-family: "baloo_2extrabold";
        color: rgba(24, 24, 24, 0.29);
        font-size: 10px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 21.63px;
        }
    }
}

.outline-fixBtn {
    border: 2px solid #dadada;
    font-family: "baloo_2extrabold";
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        font-size: 23.84px;
        height: 80px;
        border-radius: 10px;
    }
}

.rota-filtre {
    &.range {
        .close-btn {
            margin-top: 20px;
            @media screen and (min-width: 768px) and (min-height: 1200px) {
                margin-top: 35px;
            }
        }
    }
    select {
        height: 60px;
        border-radius: 10px;
        margin-bottom: 13px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            height: 170px;
            margin-bottom: 40px;
        }
    }

    label {
        padding-bottom: 5px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding-bottom: 25px;
        }
    }

    .close-btn {
        margin-top: 195px;
        height: 55px;
        font-size: 15px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            margin-top: 545px;
            height: 166px;
            border-radius: 10px;
            font-size: 43.96px;
        }
    }

    .dropdown-menu {
        display: none;
        background: #fff;
        margin-top: -20px;
        border-radius: 0 0 10px 10px;
        height: 145px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            margin-top: -60px;
            border-radius: 0 0 30px 30px;
            height: 433px;
        }

        .checkWrapper {
            padding: 10px 24px 35px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                padding: 15px 75px 60px;
            }
        }

        &.show {
            display: block;
        }
    }

    .dropdownBtn {
        background-color: #fff;
        text-align: start;
        border: none !important;
        height: 60px;
        border-radius: 10px;
        margin-bottom: 13px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            height: 170px;
            margin-bottom: 40px;
        }
    }
}
