form {
    padding: 20px 0;
    label {
        font-family: "baloo_2bold";
        color: #194769;
        font-size: 14px;
        text-align: center;
        display: block;
        padding-bottom: 10px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 30px;
        }
    }
    input {
        color: rgb(25, 71, 105);
        font-family: "baloo_2medium";
        border: 2px solid #f4f7fe;
        background-color: #f4f7fe;
        text-align: center;
        border: none;
        outline: 0;
        box-shadow: none;
        width: 100%;
        border-radius: 16px;
        font-size: 14px;
        height: 45px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 27.9px;
            border-radius: 30px;
            height: 115px;
        }
        &:focus {
            border: none;
            outline: 0;
            box-shadow: none;
        }
    }
    .inputColumn {
        position: relative;
        .eyeButton {
            position: absolute;
            right: 20px;
            top: 45px;
            width: 24px;
            img {
                opacity: 0.28;
                width: 100%;
            }
        }
        &:not(.show) {
            input[type="password"] {
                font-size: 38px;
                letter-spacing: 12.5px;
                color: rgba(25, 71, 105, 0.2);
            }
        }
    }
    .form-invalid-message {
        display: none;
        border: 2px solid red;
        color: red;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(255, 0, 0, 0.4);
        padding: 10px;
        img {
            width: 34px;
            margin-right: 10px;
        }
        span {
            line-height: 19px;
        }
    }
    &.was-validated {
        .form-invalid-message {
            display: flex;
        }

        input {
            &.error {
                background-color: rgb(255, 0, 0, 0.4);
                color: red;
                border: 2px solid red;
            }
        }
    }
}

.searchWrapper {
    position: relative;
    @media screen and (min-width: 768px) and (min-height: 1200px) {
        padding-top: 30px;
    }

    input {
        font-family: "baloo_2medium";
        background-color: #f4f7fe;
        font-size: 14px;
        color: #7f7f7f;
        width: 100%;
        height: 50px;
        border: none;
        box-shadow: none;
        outline: 0;
        border-radius: 16px;
        padding-left: 16px;
        padding-right: 46px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 32.35px;
            height: 125px;
            padding-left: 39px;
            padding-right: 120px;
        }
    }
    .searchButton {
        position: absolute;
        top: 50%;
        width: 24px;
        margin-top: -12px;
        right: 16px;
        @media screen and (min-width: 768px) and (min-height: 1200px) {
            right: 48px;
            margin-top: -20px;
            width: 50px;
        }
        img {
            width: 100%;
            filter: invert(1) opacity(0.26);
        }
    }
}

.fixBtn {
    background-color: #194769;
    font-family: "baloo_2bold";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    height: 45px;
    border-radius: 16px;
    @media screen and (min-width: 768px) and (min-height: 1200px) {
        font-size: 35.9px;
        height: 145px;
        border-radius: 30px;
    }
}
.fixBtn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(214, 214, 214, 0.29);
    padding: 10px;
    min-width: 215px;
    height: 50px;
    border-radius: 6px;
    img {
        margin-right: 30px;
        opacity: 0.29;
    }
    span {
        font-family: "baloo_2extrabold";
        color: rgba(24, 24, 24, 0.29);
        font-size: 21.63px;
    }
}