.customPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
    background-color: rgba(4, 32, 51, 0.79);

    .popup-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-content {
            width: 66%;
            margin-top: 33px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                margin-top: 100px;
            }

            &.type2 {
                margin-top: 170px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    margin-top: 333px;
                }

                .alertContainer {
                    height: 200px;
                    padding: 20px 20px;

                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        height: 488px;
                        padding: 20px 40px;
                    }

                    img {
                        margin-bottom: 28px;
                        width: 50px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            margin-bottom: 100px;
                            width: auto;
                        }
                    }

                    p {
                        font-size: 12px;
                        line-height: 18px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            font-size: 28px;
                            line-height: 35px;
                        }
                    }
                }
            }
        }

        &.between {
            .popup-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60%;
                width: 80%;
            }
        }
    }

    .popup-head {
        text-align: center;
        margin-bottom: 22px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            margin-bottom: 25px;
        }

        .title {
            font-family: 'baloo_2extrabold';
            font-size: 16px;
            color: #ffffff;
            text-align: center;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 39.24px;
            }
        }
    }

    .popup-body {
        padding: 0 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 30px 0;
        }
    }

    .popup-footer {
        .close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e13869;
            font-family: 'baloo_2extrabold';
            font-size: 12px;
            color: #ffffff;
            border-radius: 10px;
            height: 45px;
            margin-top: 30px;

            @media screen and (min-width:768px) and (min-height:1200px) {
                height: 145px;
                border-radius: 45px;
                font-size: 40.96px;
                margin-top: 50px;
            }
        }
    }


    .alertContainer {
        background-image: url('../images/modal-content-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        text-align: center;
        &.none-bg{
            background: transparent !important;
            padding: 20px 0 !important;
            span,
            strong,
            a,
            p{
                color: #ffffff;
            }
            img{
                margin-bottom: 30px;
                width: 80px;
                @media screen and (min-width:768px) and (min-height:1200px) {
                    width: 135px;
                    margin-bottom: 80px;
                }
            }
        }

        @media screen and (min-width:768px) and (min-height:1200px) {
            height: 690px;
        }

        img {
            margin-bottom: 10px;

            @media screen and (min-width:768px) and (min-height:1200px) {
                margin-bottom: 30px;
            }
        }

        p {
            font-family: 'baloo_2medium';
            font-size: 14px;
            line-height: 16px;
            color: #404040;

            @media screen and (min-width:768px) and (min-height:1200px) {
                font-size: 35px;
                line-height: 35px;
            }

            strong {
                font-family: 'baloo_2extrabold';

            }
            &.title{
                font-size: 16px;
                line-height: 16px; 
                font-family: 'baloo_2extrabold';
                @media screen and (min-width:768px) and (min-height:1200px) {
                    font-size: 75px !important;
                    line-height: 35px;
                }

            }
            &.desc{
                padding: 25px 0 0;
                font-size: 14px;
                line-height: 16px;
                @media screen and (min-width:768px) and (min-height:1200px) {
                    font-size: 36px;
                    line-height: 50px;
                    padding: 55px 0 0 !important;
                }
            }
        }

    }

    &.log-out {
        .popup-container {
            &.between {
                .popup-content {
                    width: 90%;

                    .alertContainer {
                        padding: 20px 100px;
                        background: #ffffff;
                        border-radius: 30px;

                        p {
                            font-size: 14px;
                            line-height: 18px;
                            padding: 0 50px;
                            @media screen and (min-width:768px) and (min-height:1200px) {
                                font-size: 36px;
                                line-height: 35px;
                            }
                        }

                        img {
                            margin-bottom: 60px;
                        }
                        .close-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #0a3c60;
                            font-family: 'baloo_2extrabold';
                            font-size: 12px;
                            color: #ffffff;
                            border-radius: 10px;
                            height: 45px;
                            margin-top: 30px;

                            @media screen and (min-width:768px) and (min-height:1200px) {
                                height: 109px;
                                border-radius: 25px;
                                font-size: 25.96px;
                                margin-top: 60px;
                                width: 100%;
                            }
                        }
                    } 
                }
            }
        }
    }
}