.profileInfo {
    height: 20vh;
    min-height: 120px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 60px;
    padding-bottom: 40px;
    border-bottom-right-radius: 100px;
    overflow: hidden;

    .name {
        color: #ffffff;
        font-family: "baloo_2regular";
        font-size: 15px;
        line-height: 20px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 44.49px;
            line-height: 38px;
        }

        strong {
            font-family: "baloo_2extrabold";
            font-size: 17px;
            display: block;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 50.16px;
            }
        }
    }

    a {
        color: #ffffff;
        font-family: "baloo_2regular";
        font-size: 18px;
        margin-top: 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            font-size: 36.65px;
            margin-top: 19px;
        }
    }
}

.profileContent {
    height: 80vh;
    min-height: calc(80vh - 155px);
    padding: 0 60px 60px 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    @media screen and (min-width: 768px) and (min-height: 1200px) {
        height: 72vh;
        min-height: calc(72vh - 155px);
    }

    .profileMenu {
        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: "baloo_2semibold";
            border: 1px solid #e1e1e1;
            padding-left: 16px;
            padding-right: 16px;
            height: 45px;
            border-radius: 30px;
            margin-top: 30px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                border: 3px solid #e1e1e1;
                padding-left: 32px;
                padding-right: 32px;
                height: 145px;
            }

            &.plus {
                span {
                    margin-left: -0.5rem;
                }
            }

            &.language {
                display: inline-flex;
                aspect-ratio: 2/2;
                justify-content: center;

                span {
                    color: #1b1b1b;
                    opacity: 0.34;
                }
            }

            img {
                margin-right: 8px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    margin-right: 24px;
                }
            }

            span {
                font-family: "baloo_2semibold";
                font-size: 36px;
                color: #0a3c60;
            }
        }
    }

    .bottom {
        width: 200px;
        padding-top: 0;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            width: 500px;
            padding-top: 0;
            margin-left: -10px;
        }

        span {
            color: #0a3d61;
            font-size: 15px;
            line-height: 18.5px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                font-size: 42.52px;
                line-height: 42px;
            }

            &.hashtag {
                font-size: 25px;
                line-height: 20px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 72px;
                    line-height: 57px;
                    padding-top: 28px;
                }
            }
        }

        img {
            width: 40px;
            margin-right: 10px;

            @media screen and (min-width: 768px) and (min-height: 1200px) {
                width: 105px;
                margin-right: 17px;
            }
        }
    }

    .logoBgBottom {
        right: 0;
        z-index: -1;
        left: 0;
        opacity: 1;
        filter: invert(1) grayscale(1) opacity(0.28);
        height: 24vh;
    }
}

&.menuCanvas {
    width: 86%;

    .profileInfo {
        div {
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
                width: 20px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    width: 64px;
                    margin-right: 25px;
                }
            }

            span {
                font-family: "baloo_2extrabold";
                color: #ffffff;
                font-size: 22px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    font-size: 62.62px;
                    line-height: 61px;
                }
            }
        }
    }

    .profileContent {
        padding: 0px 20px 60px 20px;
        height: 77vh;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding:14px 58px 74px 66px;
        }

        .profileMenu {
            a {
                padding-left: 10px;
                padding-right: 10px;
                height: 45px;
                border-radius: 10px;
                margin-bottom: 15px;
                margin-top: 15px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    height: 130px;
                    border-radius: 30px;
                    margin-top: 36px;
                    padding-left: 22px;
                }

                span {
                    font-size: 12px;

                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 33px;
                    }

                    &.icon {
                        margin-right: 10px;
                        border-radius: 8px;
                        width: 30px;
                        height: 30px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            margin-right: 36px;
                            border-radius: 18px;
                            width: 78px;
                            height: 78px;
                        }
                    }
                }
            }
        }
    }

    .accMenu {
        .accContent {
            margin-top: -10px;

            ul {
                padding: 10px 0 0 40px;
                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    padding: 10px 0 0 115px;
                }
                a {
                    margin-bottom: 0;
                    font-size: 12px;
                    line-height: 24px;

                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 33.7px;
                        line-height: 58.9px;
                    }
                }
            }
        }
    }
}

&.profileCanvas {
    .profileInfo {
        height: 20vh;
        border-bottom-right-radius: 30px;
        padding-bottom: 12px;
        padding-left: 35px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            height: 25vh;
            padding-left: 94px;
            padding-bottom: 39px;
            border-bottom-right-radius: 80px;
        }
    }

    .profileContent {
        padding: 15px 25px 60px 25px;

        @media screen and (min-width: 768px) and (min-height: 1200px) {
            padding: 10px 76px 69px 73px;
        }

        .profileMenu {
            a {
                height: 50px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                margin-top: 0;
                border-radius: 8px;

                @media screen and (min-width: 768px) and (min-height: 1200px) {
                    height: 140px;
                    padding-left: 25px;
                    padding-right: 25px;
                    margin-bottom: 0;
                    margin-top: 37px;
                    border-radius: 18px;
                }

                span {
                    font-size: 12px;

                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        font-size: 33px;
                    }
                }

                img {
                    margin-right: 12px;
                    width: 20px;

                    @media screen and (min-width: 768px) and (min-height: 1200px) {
                        margin-right: 30px;
                        width: 60px;
                    }
                }

                &.plus {
                    img {
                        width: 25px;

                        @media screen and (min-width: 768px) and (min-height: 1200px) {
                            width: 67px;
                        }
                    }
                }
            }
        }
    }
}
