.tabContainer{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: calc(100% - 200px);
    .tabButtons{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 2px solid #e7e7e7;
        margin-bottom: 30px;
        .tabNavItem{
            border-bottom: 2px solid #e7e7e7;
            font-family: 'baloo_2extrabold';
            font-size: 22.15px;
            color: #dadada;
            transition: all .3s linear;
            margin-bottom: -2px;

            &.active{
                color: #114367;
                border-color: #114367;
            }
        }
    }
    .tabContents{
        height: calc(100% - 50px);

        .tabContent{
            display: none;
            height: 100%;
            .overflow-scroll-auto{
                padding-left: 0;
                padding-right: 0;
            }
            &.active{
                display: block;
            }
            ul{
                padding-right: 30px;
                &.list{
                    li{
                        position: relative;
                        padding-left: 40px;
                        &:before{
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }  
    }
}

.routeProps{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 2px solid #e7e7e7;
        border-radius: 6px;
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        height: 90px;
        border-radius: 6px;
        .favorite{
            display: flex;
            align-items: center;
            img{
                & + img{
                    margin-left: 5px;
                }
            }
        }
    }
}
.onerilenMevsimler{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .item{
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:2px solid #e7e7e7;
        font-family: 'baloo_2extrabold';
        font-size: 17.05px;
        color: #989898;
        margin: 15px;
        &.active{
            background-color: #d22c58;
            color: #ffffff;
        }
    }
}